.logo {
  text-align: center;
  margin-top: 0;
}

.logo img {
  height: 9.6rem;
  width: auto;
}

@media screen and (max-width: 1200px) {
  .logo {
    display: none;
  }

  .logo img {
    height: 0;
    width: 0;
  }
}
